<div id="reg-form-holder">
  <div *ngIf="_currentRegistrationState == RegistrationStatesEnum.LOGIN" id="loginbox"
       class="mainbox col-sm-offset-3 col-sm-offset-2">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title">
          <h4>Вход на сайт</h4>
        </div>

      </div>

      <div class="panel-body">

        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

        <form id="loginform" role="form" class="row">
          <div class="col-sm-8">
            <div class="form-group">
              <label for="login" class="control-label">E-Mail</label>
              <input type="text" class="form-control" name="login" id="login" placeholder="Ваш e-mail"
                     [(ngModel)]="_userInputInfo.login">
            </div>

            <div class="form-group">
              <label for="login-password" class="control-label">Пароль</label>
              <input id="login-password" type="password" class="form-control" name="password" placeholder="Пароль"
                     [(ngModel)]="_userInputInfo.password">
            </div>

            <div class="form-group">

              <div class="controls">
                <button id="btn-login" href="javascript:void(0)" class="btn btn-success" [disabled]="!canLogin"
                        (click)="logUserIn()" type="button">
                  <i class="fa fa-sign-in" aria-hidden="true"></i>
                  Войти
                </button>
              </div>
            </div>
            <div class="form-group">
                Не зарегистрированы?
                <a href="javascript:void(0);" (click)="changeRegistrationStateTo(RegistrationStatesEnum.REGISTER)">
                  Заполните форму
                </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div *ngIf="_currentRegistrationState == RegistrationStatesEnum.REGISTER" id="signupbox"
       class="mainbox col-sm-offset-3 col-sm-offset-2">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h4 class="panel-title">Регистрация</h4>
      </div>
      <div class="panel-body row">
        <form id="signupform" class="form-horizontal" role="form">

          <div id="signupalert" style="display:none" class="alert alert-danger">
            <p>Error:</p>
            <span></span>
          </div>

          <div class="form-group">
            <label for="login" class="col-sm-3 control-label">E-Mail</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="login" id="login" placeholder="Ваш e-mail"
                     [(ngModel)]="_userInputInfo.login">
            </div>
          </div>

          <div class="form-group">
            <label for="firstname" class="col-sm-3 control-label">Имя</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="firstname" id="firstname" placeholder="Имя"
                     [(ngModel)]="_userInputInfo.firstName">
            </div>
          </div>
          <div class="form-group">
            <label for="lastname" class="col-sm-3 control-label">Отчество</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="lastname" placeholder="Отчество"
                     [(ngModel)]="_userInputInfo.middleName">
            </div>
          </div>
          <div class="form-group">
            <label for="lastname" class="col-sm-3 control-label">Фамилия</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Фамилия"
                     [(ngModel)]="_userInputInfo.lastName">
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Пароль</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" id="password" name="Пароль" placeholder="Пароль"
                     [(ngModel)]="_userInputInfo.password">
            </div>
          </div>

          <div class="prcdbtns">
            <div class="form-group">
              <!-- Button -->
              <div class="col-sm-12">
                <button id="btn-signup" class="btn btn-info" type="button" (click)="logUserIn()">
                  <i class="fa fa-user-plus" aria-hidden="true"></i>
                  Зарегистрироваться
                </button>
                <a href="javascript:void(0);" (click)="changeRegistrationStateTo(RegistrationStatesEnum.LOGIN)"
                   class="btn btn-success">
                  <i class="fa fa-sign-in" aria-hidden="true"></i>
                  Войти
                </a>
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
