:host
{
  padding: 20px;
}

#reg-form-holder
{
  padding: 10px 20px 10px 20px;

  .form-group
  {
    margin: 10px 0;
  }

  .form-group a:visited
  {
    color:#fff;
  }

  .mainbox
  {
    overflow: auto;
  }

  .prcdbtns
  {
    margin: 5px;
  }
}