:host {
  padding: 15px;
  display: block;
}
.form-group::after {
  content: '';
  clear: both;
  display: table;
}
.panel-title {
  margin-bottom: 15px;
  line-height: 2em;
  &::after{
    content: '';
    display: block;
    border-bottom: 2px solid #df1f3d;
  }
}
