<div *ngIf="goods.length > 0" class="col-sm-12">
  <div>
    <div class="sub-breadcrumbs">
      <h2>Товары</h2>
    </div>
    <div class="marg"></div>
  </div>

  <div *ngFor="let item of goods" class="col-md-3">
    <div class="cart-item">
      <h4>{{item.name}}</h4>
      <div>{{item.type}}</div>
      <img src="assets/default-product.png" width="100%"/>
      <div class="description">{{item.description}}</div>
    </div>
  </div>

  <div class="col-md-12">
    <button class="btn btn-primary pull-right">Оформить заказ</button>
  </div>
</div>

<div class="col-sm-12" *ngIf="goods.length > 0">
  <div class="divider"></div>
  <div class="row">
    <div class="col-sm-12">
      <div class="sub-breadcrumbs">
        <h2>С этим товаром покупают:</h2>
      </div>
      <div class="marg"></div>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-2">
      <h6>Отдушка Dr.Markus Ecolo</h6>
      <img _ngcontent-yfr-59="" src="assets/default-product.png" width="100%">
      <a class="btn btn-primary col-sm-9" (click)="asd({name:'Отдушка Dr.Markus Ecolo', type:'Автоаксессуары', description:'Очень Нужная Вещь'})">в корзину</a>
    </div>
    <div class="col-sm-2">
      <div>
        <h6>Парковочная система ParkCity</h6>
        <img _ngcontent-yfr-59="" src="assets/default-product.png" width="100%">
        <a class="btn btn-primary col-sm-9" (click)="asd({name:'Парковочная система ParkCity Paris', type:'Автоаксессуары', description:'Очень Нужная Вещь'})">в корзину</a>
      </div>
    </div>
    <div class="col-sm-2">
      <h6>Аерозоль для шин Tire Restorer</h6>
      <img _ngcontent-yfr-59="" src="assets/default-product.png" width="100%">
      <a class="btn btn-primary col-sm-9" (click)="asd({name:'Аерозоль для шин Tire Restorer', type:'Автоаксессуары', description:'Очень Нужная Вещь'})">в корзину</a>
    </div>
    <div class="col-sm-2">
      <h6>Аерозоль для стекол Turtle</h6>
      <img _ngcontent-yfr-59="" src="assets/default-product.png" width="100%">
      <a class="btn btn-primary col-sm-9" (click)="asd({name:'Аерозоль для стекол Turtle Wax', type:'Автоаксессуары', description:'Очень Нужная Вещь'})">в корзину</a>
    </div>
    <div class="col-sm-2">
      <h6>Щетка и скребок Plast</h6>
      <img _ngcontent-yfr-59="" src="assets/default-product.png" width="100%">
      <a class="btn btn-primary col-sm-9" (click)="asd({name:'Щетка и скребок Plast', type:'Автоаксессуары', description:'Очень Нужная Вещь'})">в корзину</a>
    </div>
    <div class="col-sm-2">
      <h6>Отдушка Tasotti Wood</h6>
      <img _ngcontent-yfr-59="" src="assets/default-product.png" width="100%">
      <a class="btn btn-primary" (click)="asd({name:'Отдушка Tasotti Woo', type:'Автоаксессуары', description:'Очень Нужная Вещь'})">в корзину</a>
    </div>

  </div>
  <div class="divider"></div>
</div>
