<div *ngIf="goods.length > 0" class="col-sm-12">
  <div>
    <div class="sub-breadcrumbs">
      <h2>Товары</h2>
    </div>
    <div class="marg"></div>
  </div>

  <div *ngFor="let item of goods" class="col-md-3">
    <div class="cart-item">
      <h4>{{item.name}}</h4>
      <div>{{item.type}}</div>
      <img src="assets/default-product.png" width="100%"/>
      <div class="description">{{item.description}}</div>
    </div>
  </div>

  <div class="col-md-12">
    <button class="btn btn-primary pull-right">Оформить заказ</button>
  </div>
</div>
