<div class="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <app-rollover-btn [text]="'Запись на сервис'" [height]="150" (click)="openServiceSignUp()"></app-rollover-btn>
      </div>
      <div class="col-lg-4">
        <app-rollover-btn [text]="'Заказ запчастей'" [height]="150"></app-rollover-btn>
      </div>
      <div class="col-lg-4">
        <app-rollover-btn [text]="'Страховка'" [height]="150"></app-rollover-btn>
      </div>
    </div>
  </div>
</div>
