<div class="container">
  <div class="footer">
    <div class="container">
      <div class="row hidden-xs">
        <div class="col-sm-2">
          <div class="menu">
            <h4 class="menu__title">Техника</h4>
            <div class="menu__item">
              <a href="/cars">Автомобили</a>
            </div>
            <div class="menu__item">
              <a target="_blank" href="http://active.bipek.kz">Для активного отдыха</a>
            </div>
            <div class="menu__item">
              <a target="_blank" href="http://www.hd-almaty.kz/">Harley-Davidson</a>
            </div>
            <div class="menu__item">
              <a href="/cars/special">Спецавто</a>
            </div>
            <div class="menu__item">
              <a target="_blank" href="http://avant.kz">AVANT</a>
            </div>
            <div class="menu__item">
              <a target="_blank" href="http://bipekkamaz.kz">КАМАЗ</a>
            </div>
            <div class="menu__item">
              <a target="_blank" href="http://bipekamkodor.kz">Amkodor</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="menu">
            <h4 class="menu__title">Услуги и сервис</h4>
            <div class="menu__item">
              <a href="/credit">Кредит</a>
            </div>
            <div class="menu__item">
              <a href="/service/to">Запись на сервис</a>
            </div>
            <div class="menu__item">
              <a href="/testdrive">Запись на тест-драйв</a>
            </div>
            <div class="menu__item">
              <a href="/service/to/prices">Стоимость ТО</a>
            </div>
            <div class="menu__item">
              <a href="/service/inspection">Сервисная инспекция KIA</a>
            </div>
            <div class="menu__item">
              <a href="/kazrosimport">КазРосИмпорт</a>
            </div>
            <div class="menu__item">
              <a href="/service/lovato">Газобаллонное оборудование</a>
            </div>
            <div class="menu__item">
              <a href="/service/hranitel">«Хранитель»</a></div>
          </div>
        </div>

        <div class="col-sm-2">
          <div class="menu">
            <h4 class="menu__title">Компания</h4>
            <div class="menu__item">
              <a href="/company">Группа компаний</a>
            </div>
            <div class="menu__item">
              <a href="/news">Новости, статьи и тест-драйвы</a>
            </div>
            <div class="menu__item">
              <a href="/company/club">Клуб БИПЭК АВТО</a>
            </div>
            <div class="menu__item">
              <a href="/contests">Конкурсы</a>
            </div>
            <div class="menu__item">
              <a href="/library">Библиотека</a>
            </div>
            <div class="menu__item">
              <a href="/news/tag/21">Для прессы</a>
            </div>
            <div class="menu__item">
              <a href="/vacancy">Вакансии</a>
            </div>
            <div class="menu__item">
              <a href="/news/tag/24">Осторожно, мошенники!</a>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="menu">
            <h4 class="menu__title">Группа компаний</h4>
            <div class="menu__item">
              <a target="_blank" href="http://aziaavto.kz">АЗИЯ АВТО</a>
            </div>
            <div class="menu__item">
              <a target="_blank" href="http://aaukg.ru">АЗИЯ АВТО Усть-Каменогорск</a>
            </div>
            <div class="menu__item">
              <a target="_blank" href="http://uaz-autosib.ru">АЗИЯ АВТО Сибирь</a>
            </div>
            <div class="menu__item">
              <a target="_blank" href="http://rossika.kz">Россика Пласт</a>
            </div>
            <div class="menu__item">
              <a target="_blank" href="http://altaytravel.ru">Рахмановские ключи</a>
            </div>
            <div class="menu__item">
              <a target="_blank" href="http://bobrovka.kz">Курорт «Нуртау»</a>
            </div>
            <div class="menu__item">
              <a target="_blank" href="http://stroika.bipek.kz">Cтроительство</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="menu">
            <h4 class="menu__title">Обратная связь</h4>
            <div class="menu__item">
              <a href="/contacts">Контакты</a>
            </div>
            <div class="menu__item">
              <a href="/callback">Закажите обратный звонок</a>
            </div>
            <div class="menu__item">
              <a href="/feedback">Напишите нам</a>
            </div>
            <div class="menu__item">
              <a href="/subscribe">Подписаться на рассылку</a>
            </div>
            <div class="menu__item">
              <a href="/faq">Часто задаваемые вопросы</a></div>
          </div>
          <div class="soc">
            <ul>
              <li><a href="https://facebook.com/bipek.kz"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
              </li>
              <li><a href="https://vk.com/bipekauto"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
              <li><a href="https://twitter.com/BIPEK_AVTO"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
              </li>
              <li><a href="https://ok.ru/profile/511046279028"><i class="fa fa-odnoklassniki-square"
                                                                  aria-hidden="true"></i></a></li>
              <li><a href="https://www.youtube.com/channel/UCIrdArMvQ2w7cxV7UYctRjg"><i class="fa fa-youtube-square"
                                                                                        aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-footer">
    <div class="row">
      <div class="col-sm-6 copyright"> Designed by <a href="http://www.thimpress.com">ThimPress.</a> Powered
        byWordPress.
      </div>
    </div>
  </div>
</div>
