$border: 2px solid rgb(169, 32, 52);
:host {
  display: block;
}

.brand-list {
  padding: 20px;
  margin: 0;
  &::after {
    content: "";
    clear: both;
    display: table;
  }

}

img {
  filter: grayscale(100%);
  &:hover {
    transition: filter 0.5s;
    filter: grayscale(0%);
  }
}

.brand-item {
  list-style: none;
  display: block;
  float: left;
  width: 14.28571428571429%;
}
