<section class="brands">
  <div class="container">
    <ul class="brand-list">
      <li class="brand-item"><a href="http://ladaauto.kz" title="LADA"><img src="http://bipek.kz/img/static/index/brands/lada.png?upd=18052016" alt="LADA"></a></li>
      <li class="brand-item"><a href="http://skoda-auto.kz" title="ŠKODA"><img src="http://bipek.kz/img/static/index/brands/skoda.png" alt="SKODA"></a></li>
      <li class="brand-item"><a href="http://chevrolet-auto.kz" title="Chevrolet"><img src="http://bipek.kz/img/static/index/brands/chevrolet.png" alt="Chevrolet"></a></li>
      <li class="brand-item"><a href="http://kiamotors.kz" title="KIA"><img src="http://bipek.kz/img/static/index/brands/kia.png" alt="KIA"></a></li>
      <li class="brand-item"><a href="http://uazauto.kz" title="UAZ"><img src="http://bipek.kz/img/static/index/brands/uaz.png" alt="UAZ"></a></li>
      <li class="brand-item"><a href="http://renault-auto.kz" title="Renault"><img src="http://bipek.kz/img/static/index/brands/renault.png" alt="Renault"></a></li>
      <li class="brand-item"><a href="http://bipekkamaz.kz" title="KAMAZ"><img src="http://bipek.kz/img/static/index/brands/kamaz.png" alt="KAMAZ"></a></li>
    </ul>
    <ul class="brand-list">

      <li class="brand-item"><a href="http://www.hd-almaty.kz" title="Harley Davidson"><img src="http://bipek.kz/img/static/index/brands/harley-davidson.png" alt="Harley Davidson"></a></li>
      <li class="brand-item"><a href="http://active.bipek.kz/catalog/stels" title="Stels"><img src="http://bipek.kz/img/static/index/brands/stels.png" alt="Stels"></a></li>
      <li class="brand-item"><a href="http://avant.kz" title="Avant"><img src="http://bipek.kz/img/static/index/brands/avant.png" alt="Avant"></a></li>
      <li class="brand-item"><a href="http://active.bipek.kz/catalog/arcticcat" title="Arctic Cat"><img src="http://bipek.kz/img/static/index/brands/arctic-cat.png" alt="Arctic Cat"></a></li>
      <li class="brand-item"><a href="http://active.bipek.kz/catalog/motor" title="Лодочные моторы"><img src="http://bipek.kz/img/static/index/brands/tohatsu.png" alt="Лодочные моторы"></a></li>
      <li class="brand-item"><a href="http://active.bipek.kz/catalog/bicycle" title="Велосипеды"><img src="http://bipek.kz/img/static/index/brands/bike.png" alt="Велосипеды"></a></li>
      <li class="brand-item"><a href="http://active.bipek.kz/catalog/trailer" title="Прицепы"><img src="http://bipek.kz/img/static/index/brands/trailer.png" alt="Прицепы"></a></li>
    </ul>
  </div>

</section>
