<div class="row">
  <div *ngFor="let item of this._loginService.loginData.getUserData('garageCar').shopCartData" [ngSwitch]="item.type" class="col-md-4">
      <div *ngSwitchCase="'Car'">
        <p>{{item.name}}</p>
        <p>{{item.engineCapacity}}</p>
        <p>{{item.engineType}}</p>
        <p>{{item.transmissionType}}</p>
        <img src="assets/default-car-image.jpg" width="100%"/>
      </div>
  </div>
</div>

<button class="btn btn-primary pull-right">Отправить форму менеджеру</button>
