:host{
  display: block;
}
[app-registration] {
  float: right;
}
.header-bg {
  background: url("assets/car.jpg") no-repeat;
  position: absolute;
  height: 220px;
  width: 100%;
  padding-top: 90px;
  background-size: 100% auto;
  z-index: 0;
  background-position-y: -80px;
}
.main-header {
  margin: auto;
  height: 90px;
  background-color: rgba(17, 17, 17, 0.7);
  position: relative;
  z-index: 1;
}
.top{
  position: relative;
  z-index: 1;
  height: 55px;
  background: #000000;
  .navbar{
    padding: 0;
    ul {
      display: block;
      height: 100%;
    }
  }
  a {
    color: #fff;
    padding-top: 0;
    line-height: 53px;
    padding-bottom: 0;
    &.sign-in {
      background: #b21931;
      border-color: #a9182e;
    }
    &.user {
      color: rgba(25, 118, 210, 0.8);
      padding: 0 20px;
    }
  }
  li{

  }
}
.main-menu {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  display: none;
}

.main-menu li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.5em;
  padding: 0;
}
.main-menu a {
  padding: 0.5em 0;
  color: #fff;
  position: relative;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 18px;
  text-shadow: 0 1px 1px #000;
}
.main-menu a:before,
.main-menu a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.main-menu a:before {
  bottom: 0;
  display: block;
  height: 3px;
  width: 0;
  content: "";
  background-color: #2980b9;
}
.main-menu a:after {
  left: 0;
  top: 0;
  padding: 0.5em 0;
  position: absolute;
  content: attr(data-hover);
  color: #2980b9;
  white-space: nowrap;
  max-width: 0;
  overflow: hidden;
}
.main-menu a:hover:before,
.main-menu .current a:before {
  opacity: 1;
  width: 100%;
}
.main-menu a:hover:after,
.main-menu .current a:after {
  max-width: 100%;
}
.pull-right {
  float: right;
}

.header-container
{
  transform: translateZ(0);
}

@media (min-width: 768px) {
  .menu {
    display: none;
  }
  .main-menu, .main-header{
    display: block;
  }
  .header-container, .header-services{
    display: none;
  }
}
@media (max-width: 767px) {
  .menu {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);

    width: 100%;
    box-shadow: 0 0 10px #000;
    will-change: top;
    z-index: 99;
    transition: 0.3s ease;
    transform: translate3d(0, -100%, 0);

    .submenu {
      padding-left: 20px;
      & > li {
        list-style-type: none;
        border-bottom-color: rgba(255, 255, 255, 0.3);
        border-bottom-width: 1px;
        border-bottom-style: solid;
        & > a {
          padding: 0.5em 1em 0.5em 2em;
          color: #ffffff;
          font-size: 1.2em;
          &.active {
            color: #2980b9;
          }
        }
      }
    }
    &.active {

      transform: translate3d(0, 80px, 0);
      transition: 0.3s ease;

    }
    & > li {
      list-style-type: none;

      & > a {
        padding: 0.5em 1em 0.5em 1.5em;
        font-size: 1.2em;
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        color: rgb(223, 31, 61);
        font-weight: bold;

      }
    }
  }
  .header-container {
    display: table;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000;
    z-index: 100;
    box-shadow: 0 0 10px 0 #333;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    font-size: 1.1em;
    >a {
      display: table-cell;
      vertical-align: middle;
    }
    .menu-btn {
      padding: 0 15px;
      color: #fff;
    }

    .sign-in {
      padding: 0 15px;
      color: #fff;
      &:hover, &:focus {
        color: #fff;
      }
      &.active {
        color: rgb(223, 31, 61);
      }
    }

    .brand {
      color: #fff;

      & > h1 {
        font-size: 1.8em;
        text-align: center;
        margin: 10px 0;
      }
    }
  }
  .header-services {
    display: flex;
    position: fixed;
    top: 50px;
    width: 100%;
    background-color: rgb(223, 31, 61);
    z-index: 100;
    color: #ffffff;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    font-size: 1.1em;

    & > a {
      text-align: center;
      color: #ffffff;
      padding: 10px;
      flex: 1;
    }

  }
}
