<div class="header-container">
  <a class="menu-btn" (click)="toggleMenu()">
    <i class="fa" aria-hidden="true" [ngClass]="{'fa-bars': !isMenuOpened, 'fa-times': isMenuOpened}"></i>
  </a>
  <a [routerLink]="['']" class="brand">
    <h1>Автосервис</h1>
  </a>
  <a (click)="openRegistrationModal(true)" href="javascript:void(0)"
     *ngIf="!_loginService.isLoggedIn"
     class="sign-in">
    <i class="fa fa-user-circle" aria-hidden="true"></i>
  </a>
  <a class="sign-in active" [routerLink]="['/profile']"
     href="javascript:void(0)"
     *ngIf="_loginService.isLoggedIn">
    <i class="fa fa-user-circle" aria-hidden="true"></i>
  </a>
  <nav class="menu" [ngClass]="{'active': isMenuOpened }" (click)="onMenuClick($event)">
    <li>
      <a class="nav-link" data-hover="Салон-магазин" [routerLink]="['/shop']">Салон-магазин</a>
      <ul class="submenu">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/shop/cars']" [routerLinkActive]="['active']">Автомобили</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/shop/market']" [routerLinkActive]="['active']">Автобазар</a>
        </li>
        <li>
          <a class="nav-link" href="javascript:void(0)" [routerLink]="['/shop/machines']"
             [routerLinkActive]="['active']">Техника</a>
        </li>
        <li>
          <a class="nav-link" href="javascript:void(0)" [routerLink]="['/shop/parts']" [routerLinkActive]="['active']">Запчасти</a>
        </li>
        <li>
          <a class="nav-link" href="javascript:void(0)" [routerLink]="['/shop/goods']" [routerLinkActive]="['active']">Товары</a>
        </li>
      </ul>
    </li>
    <li>
      <a class="nav-link" data-hover="Сервис" [routerLink]="['/service']">Сервис</a>
      <ul class="submenu">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/service/credit']" [routerLinkActive]="['active']">Кредит</a>
        </li>
      </ul>
    </li>
  </nav>
</div>
<div class="services">
  <a href="javascript:void(0)" (click)="openTestDrive()"><i class="fa fa-car" aria-hidden="true"></i></a>
  <a href="javascript:void(0)" (click)="openSignUpService()"><i class="fa fa-cogs" aria-hidden="true"></i></a>
  <a href="javascript:void(0)" [routerLink]="['/service/credit']"><i class="fa fa-money" aria-hidden="true"></i></a>
  <a href="javascript:void(0)" [routerLink]="['/shop/cart']"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
  <a (click)="_loginService.logOut()" href="javascript:void(0)" class="nav-link" *ngIf="_loginService.isLoggedIn">
    <i class="fa fa-sign-out" aria-hidden="true"></i>
  </a>

</div>


<!--<div class="header-bg xs-hidden"></div>
<div class="top">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['']">
      <h1>Автосервис</h1>
    </a>
    <nav class="navbar">
      <ul class="nav navbar-nav">
        <li class="nav-item pull-right" style="padding: 0 20px;">
          <a (click)="_loginService.logOut()" href="javascript:void(0)" class="nav-link"  *ngIf="_loginService.isLoggedIn" >Выйти</a>
        </li>
        <li class="nav-item pull-right">
          <a (click)="openRegistrationModal(true)" href="javascript:void(0)" *ngIf="!_loginService.isLoggedIn" class="nav-link btn btn-primary sign-in"><span class="xs-hidden">Мой Гараж</span></a>
          <a class="nav-link btn btn-primary" [routerLink]="['/profile']" *ngIf="_loginService.isLoggedIn" >Мой Гараж</a>
        </li>
      </ul>
      <ul class="nav navbar-nav" *ngIf="_loginService.isLoggedIn">

        &lt;!&ndash;<li class="nav-item pull-right">
          <a href="javascript:void(0)" class="nav-link user" [routerLink]="['/profile/personal']">{{_loginService.getCurrentUser().firstName}} {{_loginService.getCurrentUser().middleName}}</a>
        </li>&ndash;&gt;
        <li class="nav-item pull-right">
          <a [routerLink]="['/shop/cart']" class="nav-link">Корзина</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="main-header">

<div class="container">

  <nav class="navbar">


    <ul class="nav navbar-nav main-menu">
      <li class="nav-item active">
        <a class="nav-link" data-hover="Салон-магазин" [routerLink]="['/shop']">Салон-магазин</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  data-hover="Сервис" [routerLink]="['/service']">Сервис</a>
      </li>
    &lt;!&ndash;  <li class="nav-item">
        <a class="nav-link"  data-hover="Мы" [routerLink]="['/about']" >Мы</a>
      </li>&ndash;&gt;
      &lt;!&ndash;<li class="nav-item pull-right">
        <a class="nav-link" [routerLink]="['/profile']" data-hover="ГАРАЖ">ГАРАЖ</a>
      </li>&ndash;&gt;
    </ul>
  </nav>
</div>
</div>-->
