<div class="row">
  <div class="category col-lg-6">
    <div class="category-block">
      <h3 class="category-title">ЗАПЧАСТИ</h3>
      <ul class="nav">
        <li>
          <a class="nav-link" [routerLink]="['/profile/car-store']" href="">Оригинальный каталог</a>
        </li>
        <li>
          <a class="nav-link" href="">Запчасти для технического обслуживания</a>
        </li>
        <li>
          <a class="nav-link" href="">Каталог заменителей</a>
        </li>
        <li>
          <a class="nav-link" href="">Стекла</a>
        </li>
        <li>
          <a class="nav-link" href="">Подвеска и выхлоп</a>
        </li>
      </ul>
    </div>

  </div>

  <div class="category col-lg-6">
    <div class="category-block">
      <h3 class="category-title">АВТОХИМИЯ</h3>
      <ul class="nav">
        <li>
          <a class="nav-link" [routerLink]="['/profile/car-store']" href="">Тормозные жидкости</a>
        </li>
        <li>
          <a class="nav-link" href="">Автокосметика</a>
        </li>
        <li>
          <a class="nav-link" href="">Моторные масла</a>
        </li>
        <li>
          <a class="nav-link" href="">Трансмиссионные масла</a>
        </li>
        <li>
          <a class="nav-link" href="">Охлаждающие жидкости</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="category col-lg-6">
    <div class="category-block">
      <h3 class="category-title">Принадлежности</h3>
      <ul class="nav">
        <li>
          <a class="nav-link" [routerLink]="['/profile/car-store']" href="">Аксессуары</a>
        </li>
        <li>
          <a class="nav-link" href="">Все для СТО</a>
        </li>
        <li>
          <a class="nav-link" href="">Автолитература</a>
        </li>
        <li>
          <a class="nav-link" href="">Инструмент</a>
        </li>
        <li>
          <a class="nav-link" href="">Шины</a>
        </li>
        <li>
          <a class="nav-link" href="">Колесные диски</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="category col-lg-6">
    <div class="category-block">
      <h3 class="category-title">ЭЛЕКТРОНИКА</h3>
      <ul class="nav">
        <li>
          <a class="nav-link" [routerLink]="['/profile/car-store']" href="">Лампы</a>
        </li>
        <li>
          <a class="nav-link" href="">Видеорегистраторы</a>
        </li>
        <li>
          <a class="nav-link" href="">Аккумуляторы</a>
        </li>
        <li>
          <a class="nav-link" href="">Предохранители</a>
        </li>
        <li>
          <a class="nav-link" href="">Навигаторы</a>
        </li>
        <li>
          <a class="nav-link" href="">Автомагнитолы</a>
        </li>
      </ul>
    </div>
  </div>

</div>
