<div class="messages">
  <div class="menu">
    <a href="" class="btn btn-secondary">Написать сообщение</a>
    <a href="" class="btn btn-secondary">Удалить все</a>
  </div>

  <div class="message-list">
    <div *ngFor="let message of messages" class="panel panel-default" (click)="showMessage(message)" >
      <div class="panel-heading">
        <div class="sender-info">
          <img src="{{message.sender.workPlace ? message.sender.workPlace.photo : message.sender.photo}}"
               (click)="showInfo(message.sender, $event)"
               alt="usr-photo">
          <h6>
            <span>{{message.sender.fullName}}</span>
            <span class="date">{{message.sentDate}}</span>
            <div class="subject" *ngIf="!message.isExpanded"><strong>Тема: </strong><span>{{message.subject}}</span></div>
          </h6>

        </div>

        <div class="buttons">
          <a class="xs-hidden" [href]="'mailto:'+message.sender.email+ ' | safeUrl'">
            <i class="fa fa-reply" aria-hidden="true"></i>
            <span>Ответить</span>
          </a>
          <a class="xs-hidden" [href]="'tel:'+message.sender.phoneNumber + ' | safeUrl'">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <span>Перезвонить</span>
          </a>
          <a href="javascript:void(0)" (click)="deleteMessage(message, $event)"><i class="fa fa-trash" aria-hidden="true"></i>
            <span class="hidden-xs-down" >Удалить</span>
          </a>
          <a ngbDropdown id="dropdownMenu2" ngbDropdownToggle class="hidden-md-up">
            <i class="fa fa-bars"></i>

            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
              <a class="dropdown-item" [href]="'mailto:'+message.sender.email+ ' | safeUrl'">
                <i class="fa fa-reply" aria-hidden="true"></i>
                <span>Ответить</span>
              </a>
              <a class="dropdown-item" [href]="'tel:'+message.sender.phoneNumber + ' | safeUrl'">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>Перезвонить</span>
              </a>
            </div>
          </a>

          <a href="javascript:void(0)" *ngIf="!message.isExpanded" (click)="showMessage(message, $event)">
            <i class="fa fa-angle-down" aria-hidden="true"></i>
            <span class="xs-hidden">Открыть</span>
          </a>
          <a href="javascript:void(0)" *ngIf="message.isExpanded" (click)="showMessage(message, $event)"><i class="fa fa-angle-up" aria-hidden="true"></i>
            <span class="xs-hidden">Скрыть</span>
          </a>
        </div>
      </div>

      <div class="panel-body" *ngIf="message.isExpanded">
        <div class="subject">
          <strong>Тема: </strong><span>{{message.subject}}</span>
        </div>
        <div class="divider"></div>
        <p>{{message.description}}</p>
      </div>
    </div>
  </div>
</div>
