:host {
  display: block;
  &::after {
    content: '';
    clear: both;
    display: table;
  }
}
.vehicle-guide-form
{
  padding: 1.5rem;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  border-width: .2rem;
}
