<div class="container">
  <div class="breadcrumbs">
    <div class="row vertical-align">
      <h1 class="col-sm-5 pull-right vertical-align">О компании</h1>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-9 static-content">


      <p><strong>Группа Компаний «БИПЭК АВТО — АЗИЯ АВТО»</strong> — крупнейший холдинг на автомобильном
        рынке Казахстана, образованный в 1992 г. В составе группы сервисно-сбытовые сети в Казахстане и России,
        казахстанский автосборочный завод <a href="http://aziaavto.kz/ru" target="_blank">«АЗИЯ АВТО»</a>, строящийся
        автомобильный завод полного цикла «АЗИЯ АВТО Казахстан». Сегодня Группа Компаний «БИПЭК АВТО-АЗИЯ АВТО» является
        лидером как в производстве легковых автомобилей, так и по объемам продаж. </p>
      <p>В числе направлений деятельности холдинга — строительные подразделения (Департамент строительства ТОО
        «БИПЭК АВТО Казахстан», Россика Пласт), собственные туристические площадки (санаторий «Рахмановские ключи»,
        курорт
        «Нуртау»).</p>

      <p><strong>ТОО «БИПЭК АВТО Казахстан»</strong> — сервисно-сбытовая сеть в 19 городах Казахстана,
        насчитывающая 25 офисов по продажам и обслуживанию автомобилей марок <a href="http://ladaauto.kz">LADA</a>,
        <a href="http://skoda-auto.kz">ŠKODA</a>, <a href="http://chevrolet-auto.kz">Chevrolet</a>, <a
          href="http://kiamotors.kz">KIA</a>, <a href="http://uazauto.kz">UAZ</a>, <a
          href="http://renault-auto.kz">Renault</a>, спецтехники <a href="http://bipekkamaz.kz">KAMAZ</a>, <a
          href="http://bipekamkodor.kz">АМКОДОР</a>, <a href="http://avant.kz">AVANT</a>.</p>
      <p>Также компания предлагает своим клиентам лучший выбор <a href="http://active.bipek.kz">техники для активного
        отдыха</a> ведущих производителей: квадроциклы и снегоходы <a
        href="http://active.bipek.kz/catalog/arcticcat#ctn">Arctic Cat</a>, мотоциклы и квадроциклы <a
        href="http://active.bipek.kz/catalog/stels#ctn">Stels</a>, мотоциклы и скутеры <a
        href="http://active.bipek.kz/catalog/moto#ctn">Racer</a>, <a href="http://active.bipek.kz/catalog/bicycle#ctn">велосипеды</a>,
        <a href="http://active.bipek.kz/catalog/trailer#ctn">автоприцепы</a>, лодочные моторы <a
          href="http://active.bipek.kz/catalog/motor#ctn">Tohatsu</a>, надувные лодки, различные аксессуары.</p>
      <p>С 2015 г. БИПЭК АВТО выступает эксклюзивным партнером бренда <a
        href="http://www.hd-almaty.kz/">Harley-Davidson</a>
        в Казахстане, открыв официальный дилерский центр в городе Алматы.</p>

      <p><strong>ООО «АЗИЯ АВТО Усть-Каменогорск»</strong> — совместное предприятие ОАО «АВТОВАЗ» и Группы
        Компаний «БИПЭК АВТО — АЗИЯ АВТО», ответственное за продажи и обслуживание автомобилей LADA на территории
        Сибирского и Уральского федеральных округов РФ. Филиалы <a href="http://aaukg.ru">ООО «АЗИЯ АВТО
          Усть-Каменогорск»</a> открыты в Барнауле, Ишиме, Кемерово, Новокузнецке, Новосибирске, Омске, Тобольске,
        Тюмени,
        Челябинске, Шадринске, Стерлитамаке, Красноярске. В перспективе холдинг планирует расширить собственную
        сбытовую инфраструктуру на российском рынке до 21 автоцентра.</p>
      <p><strong>Казахстанский автосборочный завод АО «АЗИЯ АВТО»</strong> (г.Усть-Каменогорск) основан в 2002 г. и
        является
        крупнейшим производителем легковых автомобилей в Казахстане. Среди партнеров завода ведущие мировые концерны:
        ОАО «АВТОВАЗ», «Volkswagen AG», «General Motors» и «KIA Motors». На мощностях АО <a
          href="http://aziaavto.kz/ru">«АЗИЯ АВТО»</a> в г.Усть-Каменогорске выпускаются автомобили марок: ŠKODA
        (Octavia, Rapid, Superb, Yeti), Chevrolet (Aveo, Captiva, Cruze, Malibu, Orlando, Tracker), LADA 4×4, KIA
        (Carens,
        Carnival, Cee’d, Cerato, Cadenza, Optima, Mohave, Picanto, Pro Cee’d, Quoris, Rio, Sorento, Soul, Sportage).
        Система
        менеджмента качества «АЗИЯ АВТО» сертифицирована «TÜV International Certification» (Германия) согласно
        международному стандарту ISO 9001:2008. Сборка и испытание автомобилей осуществляется на самом современном
        оборудовании с применением передовых решений и новейшей компьютерной техники. Вся продукция завода
        сертифицирована. Предприятие неоднократно становилось победителем различных региональных и республиканских
        конкурсов. АО «АЗИЯ АВТО» — лауреат Премии Президента Республики Казахстан «Алтын Сапа», победитель
        республиканского конкурса-выставки «Лучший товар Казахстана» и победитель Национального конкурса по социальной
        ответственности «Парыз».</p>
      <p><strong>АО «АЗИЯ АВТО Казахстан»</strong> — совместное предприятие ТОО «БИПЭК АВТО Казахстан» и ОАО
        «АВТОВАЗ», на базе которого в г.Усть-Каменогорске осуществляется реализация проекта строительства
        автомобильного производства полного цикла (комплекс предприятий по сварке, окраске, сборке автомобилей и выпуску
        автокомпонентов), которое обеспечит выпуск 120 тысяч автомобилей в год. Запуск нового автомобильного завода
        позволит создать более 4 тысяч новых рабочих мест. В реализацию крупнейшего проекта российско-казахстанского
        сотрудничества в производственной сфере инвестировано свыше $55 млн. собственных средств.</p>

      <p><strong>Департамент строительства ТОО «БИПЭК АВТО Казахстан»</strong> с 2003 г. успешно осуществляет
        деятельность в сфере строительства и проектирования промышленных и гражданских зданий и сооружений
        в полном соответствии с действующими нормами, правилами и стандартам менеджмента качества ИСО
        9001:2009. В строительстве используются новейшие материалы и технологии для воплощения в жизнь
        архитектурных решений. <a href="http://stroika.bipek.kz/">Департамент строительства</a> имеет собственную
        материально техническую базу с огромным перечнем строительной техники, налаженную базу поставщиков и рабочих
        соответствующих квалификаций.</p>
      <p><strong>Россика Пласт</strong> (г.Усть-Каменогорск) — производственно-монтажная компания, созданная в 2002 г.
        Одна из первых компаний на рынке г.Усть-Каменогорска, начавших производство изделий из ПВХ профиля
        (пластиковые окна, двери, витражи). Предприятие использует оборудование ведущих европейских производителей —
        Urban (Германия), Corchi (Италия). В производстве используется профиль немецкой торговой марки КВЕ, российской
        марки Grain, фурнитура и комплектующие немецкой марки SIEGENIA. <a href="http://www.rossika.kz/">Россика
          Пласт</a> — победитель регионального конкурса товаропроизводителей «Алтын Сапа-2008» в номинации «Лучшие
        товары для населения» (Восточно-Казахстанская область).</p>
      <p><strong>Санаторий «Рахмановские ключи»</strong> функционирует с 1964 г. Расположен на территории
        ботанико-минералогического заказника и Катон-Карагайского Государственного национального природного парка
        Восточно-Казахстанской области. В 450 км от г.Усть-Каменогорск, недалеко от пересечения границ
        четырех государств: Казахстана, России, Монголии и Китая, в самом сердце Алтайских гор на высоте 1760 м
        над уровнем моря. Профиль санатория <a href="http://altaytravel.ru/?pid=rahm">«Рахмановские ключи»</a> —
        бальнеотерапевтический. Основным лечебным фактором являются природные минеральные радоновые воды, применяемые
        для
        лечения различных заболеваний.</p>
      <p><strong>Курорт «Нуртау»</strong> открыт в 1999 г. Находится в живописном уголке Восточного
        Казахстана, в 35 км от г.Усть-Каменогорска. <a href="http://bobrovka.kz">«Нуртау»</a> —
        курорт-трансформер. Зимой — горнолыжный курорт, летом — место для молодежного и семейного отдыха с детьми.
        Располагает двумя горнолыжными трассами и трассой для сноубордистов.</p>
      <a class="gotop hidden-xs" href="#top" style="display: none;"></a>
    </div>
  </div>

</div>



