<div class="row top-bar">
  <div class="col-sm-3">
    <a class="btn btn-primary " href="javascript:void(0)" [routerLink]="['/service/credit-calc']"
       [routerLinkActive]="['active']">
      <i class="fa fa-calculator" aria-hidden="true"></i>
      Кредитный калькулятор
    </a>
  </div>
  <div class="col-sm-9">
    <div class="sub-breadcrumbs">
      <h2>Кредит</h2>
    </div>
  </div>
</div>

<div class="row">
  <!--<div class="col-sm-3">

  </div>-->
  <div class="col-xs-12 static-content">

    <div class="dashboard" style="margin-bottom: 15px">
      <div class="row" style="margin-bottom: 15px">

        <div class="col-xs-6">
          <a href="/credit#sberbank" rel="#sberbank">
            <img src="assets/sberbank.png" class="img-responsive" alt="Сбербанк">
          </a>
        </div>

        <div class="col-xs-6">
          <a href="/credit#evraziiskiybank" rel="#evraziiskiybank">
            <img src="assets/evraziiskiybank.png" class="img-responsive" alt="Евразийский банк">
          </a>
        </div>

        <div class="col-xs-6">
          <a href="/credit#halykbank" rel="#halykbank">
            <img src="assets/halykbank.png" class="img-responsive" alt="Народный банк">
          </a>
        </div>
        <div class="col-xs-6">
          <a href="/credit#alfabank" rel="#alfabank">
            <img src="assets/alfabank.png" class="img-responsive center-block" alt="Альфа банк">
          </a>
        </div>

      </div>

    </div>
    <div class="content-wrap">
      <div style="clear:both; display:block; margin-bottom:40px">
        <a href="/soft-loans">
          <img src="/assets/credit-b.jpg?2" class="img-responsive" alt="Кредит под 4%">
        </a>
      </div>

      <img src="/assets/sberbank.jpg" class="img-responsive img-centered">
      <h3>Программа потребительского кредитования на приобретение автомобилей от ДБ АО «Сбербанк»:</h3>
      <ul>
        <li>Принятие решения по одному документу – удостоверение личности!</li>
        <li>Оперативное принятие решения о финансировании до 2 часов!</li>
        <li>Выбор программы кредитования:
          <ul>
            <li>«Стандарт»</li>
          </ul>
        </li>
        <li>Каско за счет Банка!</li>
        <li>Выдача авто от 7-8 дней</li>
      </ul>

      <p>Условия предоставления кредитов</p>
      <ul>
        <li>Первоначальный взнос от 10%;</li>
        <li>Срок кредита от 12 до 84 месяцев;</li>
        <li>Годовая ставка по стандартным продуктам 18,5%;</li>
      </ul>

      <div class="table-responsive">
        <table>
          <tbody>
          <tr>
            <td>Стоимость автомобиля</td>
            <td colspan="6">3 500 000 тенге</td>
          </tr>
          <tr>
            <td>Первоначальный взнос</td>
            <td colspan="6">350 000 тенге</td>
          </tr>
          <tr>
            <td>Сумма займа</td>
            <td colspan="6">3 260 786 тенге</td>
          </tr>
          <tr>
            <td>Срок кредита</td>
            <td>12 мес.</td>
            <td>24 мес.</td>
            <td>36 мес.</td>
            <td>48 мес.</td>
            <td>60 мес.</td>
            <td>84 мес.</td>
          </tr>
          <tr>
            <td>Ставка вознаграждения</td>
            <td>18,5%</td>
            <td>18,5%</td>
            <td>18,5%</td>
            <td>18,5%</td>
            <td>18,5%</td>
            <td>18,5%</td>
          </tr>
          <tr>
            <td>Ежемесячный платеж</td>
            <td>299 725</td>
            <td>163 580</td>
            <td>118 705</td>
            <td>96 639</td>
            <td>83 692</td>
            <td>69 493</td>
          </tr>
          </tbody>
        </table>
      </div>

      <ul>
        <li>Сумма займа до 20 000 000 KZT;</li>
        <li>Каско за счет Банка;</li>
        <li>Комиссия за рассмотрение кредита 46 500 KZT (разовая).</li>
        <li>Комиссия за перевод 2%</li>
      </ul>

      <div class="divider"></div>

      <img src="/assets/evraziski.jpg" class="img-responsive img-centered">

      <h3>Программа потребительского кредитования на приобретение автомобилей от «Евразийский банк»:</h3>
      <p>Условия предоставления кредитов</p>

      <table>
        <tbody>
        <tr valign="top">
          <td colspan="8">
            <div align="center"><strong>Условия кредита</strong></div>
          </td>
        </tr>
        <tr valign="top">
          <td colspan="5">
            <div align="center">Процентная ставка ном./ГЭСВ</div>
          </td>
          <td colspan="3">
            <div align="center">от 0,1%/от 14,3%</div>
          </td>
        </tr>
        <tr valign="top">
          <td colspan="5">
            <div align="center">Первоначальный взнос</div>
          </td>
          <td colspan="3">
            <div align="center">от 10%</div>
          </td>
        </tr>
        <tr valign="top">
          <td colspan="5">
            <div align="center">Сумма займа</div>
          </td>
          <td colspan="3">
            <div align="center">от 450 000 до 12 000 000 тенге</div>
          </td>
        </tr>
        <tr valign="top">
          <td colspan="5">
            <div align="center">Срок кредитования</div>
          </td>
          <td colspan="3">
            <div align="center">до 84 месяцев</div>
          </td>
        </tr>
        <tr valign="top">
          <td colspan="5">
            <div align="center">Комиссия за регистрацию</div>
          </td>
          <td colspan="3">
            <div align="center">43 000 тенге</div>
          </td>
        </tr>
        <tr valign="top">
          <td>
            <div align="center">Стоимость автомобиля</div>
          </td>
          <td colspan="7">
            <div align="center">3 500 000 тенге</div>
          </td>
        </tr>
        <tr valign="top">
          <td>
            <div align="center">Первоначальный взнос</div>
          </td>
          <td colspan="7">
            <div align="center">350 000 тенге</div>
          </td>
        </tr>
        <tr valign="top">
          <td>
            <div align="center">Сумма займа</div>
          </td>
          <td colspan="7">
            <div align="center">3 150 000 тенге + 43 000 тенге (комиссия за организацию займа)</div>
          </td>
        </tr>
        <tr valign="top">
          <td>
            <div align="center">Срок кредита</div>
          </td>
          <td>
            <div align="center">12 мес</div>
          </td>
          <td>
            <div align="center">24 мес</div>
          </td>
          <td>
            <div align="center">36 мес</div>
          </td>
          <td>
            <div align="center">48 мес</div>
          </td>
          <td>
            <div align="center">60 мес</div>
          </td>
          <td>
            <div align="center">72 мес</div>
          </td>
          <td>
            <div align="center">84 мес</div>
          </td>
        </tr>
        <tr valign="top">
          <td>
            <div align="center">Ежемесячный платеж</div>
          </td>
          <td>
            <div align="center">292 263</div>
          </td>
          <td>
            <div align="center">161 149</div>
          </td>
          <td>
            <div align="center">117 975</div>
          </td>
          <td>
            <div align="center">96 783</div>
          </td>
          <td>
            <div align="center">84 200</div>
          </td>
          <td>
            <div align="center">75 742</div>
          </td>
          <td>
            <div align="center">68 940</div>
          </td>
        </tr>
        <tr valign="top">
          <td colspan="8">
            <div align="center"><strong>Ежемесячное погашение Автокредита для автомобилей Renault Duster</strong></div>
          </td>
        </tr>
        <tr valign="top">
          <td colspan="8">
            <div align="center"><strong>Стоимость автомобиля 3 500 000 тг, ПВ 350 000 тг.</strong></div>
          </td>
        </tr>
        <tr valign="top">
          <td>
            <div align="center">Срок кредита</div>
          </td>
          <td>
            <div align="center">12&nbsp;мес.</div>
          </td>
          <td>
            <div align="center">24&nbsp;мес.</div>
          </td>
          <td>
            <div align="center">36&nbsp;мес.</div>
          </td>
          <td>
            <div align="center">48&nbsp;мес.</div>
          </td>
          <td>
            <div align="center">60&nbsp;мес.</div>
          </td>
          <td>
            <div align="center">72&nbsp;мес.</div>
          </td>
          <td>
            <div align="center">84&nbsp;мес.</div>
          </td>
        </tr>
        <tr valign="top">
          <td>
            <div align="center">Ежемесячный платеж</div>
          </td>
          <td>
            <div align="center">285 879</div>
          </td>
          <td>
            <div align="center">157 974</div>
          </td>
          <td>
            <div align="center">115 810</div>
          </td>
          <td>
            <div align="center">95 270</div>
          </td>
          <td>
            <div align="center">82 922</div>
          </td>
          <td>
            <div align="center">74 734</div>
          </td>
          <td>
            <div align="center">68 060</div>
          </td>
        </tr>
        <tr valign="top">
          <td colspan="8">
            <div align="center"><strong>Ежемесячное погашение Автокредита для автомобилей Renault Sandero и Sandero
              Stepway</strong></div>
          </td>
        </tr>
        <tr valign="top">
          <td>
            <div align="center">Срок кредита</div>
          </td>
          <td>
            <div align="center">12&nbsp;мес.</div>
          </td>
          <td>
            <div align="center">24&nbsp;мес.</div>
          </td>
          <td>
            <div align="center">36&nbsp;мес.</div>
          </td>
          <td>
            <div align="center">48&nbsp;мес.</div>
          </td>
          <td>
            <div align="center">60&nbsp;мес.</div>
          </td>
          <td>
            <div align="center">72&nbsp;мес.</div>
          </td>
          <td>
            <div align="center">84&nbsp;мес.</div>
          </td>
        </tr>
        <tr valign="top">
          <td>
            <div align="center">Ежемесячный платеж</div>
          </td>
          <td>
            <div align="center">286 192</div>
          </td>
          <td>
            <div align="center">158 022</div>
          </td>
          <td>
            <div align="center">115 978</div>
          </td>
          <td>
            <div align="center">95 191</div>
          </td>
          <td>
            <div align="center">83 043</div>
          </td>
          <td>
            <div align="center">74 717</div>
          </td>
          <td>
            <div align="center">68 065</div>
          </td>
        </tr>
        </tbody>
      </table>


      <div class="divider"></div>

      <img src="/assets/nbk.jpg" class="img-responsive img-centered">
      <h3>Программа потребительского кредитования на приобретение автомобилей от АО «Народный Банк Казахстана»:</h3>
      <p>Условия предоставления кредитов</p>
      <div class="table-responsive">
        <table>
          <tbody>
          <tr>
            <td>Сумма займа</td>
            <td colspan="2">до 30 000 000 тенге</td>
          </tr>
          <tr>
            <td>Срок кредита</td>
            <td colspan="2">до 7 лет</td>
          </tr>
          <tr>
            <td>Условия финансирования</td>
            <td>тем, кто получает зарплату по карточкам Народного Банка</td>
            <td>для остальных клиентов</td>
          </tr>
          <tr>
            <td>Ставка вознаграждения:</td>
            <td>от 13,5%</td>
            <td>от 15%</td>
          </tr>
          <tr>
            <td>Первоначальный взнос</td>
            <td>от 0%</td>
            <td>от 20%</td>
          </tr>
          <tr>
            <td>Комиссия за зачисление денег на счет клиента</td>
            <td colspan="2">3,5% от суммы кредита</td>
          </tr>
          <tr>
            <td>Комиссия за организацию финансирования</td>
            <td colspan="2">60 000 тенге</td>
          </tr>
          <tr>
            <td colspan="3">Оценка автомобиля и регистрация прав собственности за счет Банка!</td>
          </tr>
          <tr>
            <td colspan="3">Страхование Заемщика от несчастного случая и страхование автомобиля за счет Банка!</td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="table-responsive">
        <table>
          <tbody>
          <tr>
            <td>Стоимость автомобиля</td>
            <td>2 000 000 тенге</td>
            <td>2 000 000 тенге</td>
          </tr>
          <tr>
            <td>Первоначальный взнос</td>
            <td>0 тенге</td>
            <td>400 000 тенге</td>
          </tr>
          <tr>
            <td>Сумма займа</td>
            <td>2 000 000 тенге</td>
            <td>1 600 000 тенге</td>
          </tr>
          </tbody>
        </table>
      </div>

      <p><strong>Ежемесячное погашение - без первоначального взноса (0 тенге)</strong></p>
      <div class="table-responsive">
        <table>
          <tbody>
          <tr>
            <td>Срок кредита</td>
            <td>12 мес.</td>
            <td>24 мес.</td>
            <td>36 мес.</td>
            <td>48 мес.</td>
            <td>60 мес.</td>
            <td>72 мес.</td>
            <td>84 мес.</td>
          </tr>
          <tr>
            <td>Ежемесячный платеж</td>
            <td>179 104 тг.</td>
            <td>95 554 тг.</td>
            <td>67 870 тг.</td>
            <td>54 152 тг.</td>
            <td>46 019 тг.</td>
            <td>40 677 тг.</td>
            <td>36 929 тг.</td>
          </tr>
          </tbody>
        </table>
      </div>

      <p><strong>Ежемесячное погашение - с первоначальным взносом 20% (400 000 тенге)</strong></p>
      <div class="table-responsive">
        <table>
          <tbody>
          <tr>
            <td>Срок кредита</td>
            <td>12 мес.</td>
            <td>24 мес.</td>
            <td>36 мес.</td>
            <td>48 мес.</td>
            <td>60 мес.</td>
            <td>72 мес.</td>
            <td>84 мес.</td>
          </tr>
          <tr>
            <td>Ежемесячный платеж</td>
            <td>144 413 тг.</td>
            <td>77 578 тг.</td>
            <td>55 464 тг.</td>
            <td>44 529 тг.</td>
            <td>38 063 тг.</td>
            <td>33 832 тг.</td>
            <td>30 874 тг.</td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="divider"></div>

      <img src="/assets/alfabank.jpg" class="img-responsive img-centered">

      <h3>Программа потребительского кредитования на&nbsp;приобретение автомобилей
        от&nbsp;АО&nbsp;ДБ&nbsp;«Альфа-Банк»:</h3>
      <ul>
        <li> Валюта кредита&nbsp;— Тенге</li>
        <li> Первоначальный взнос от&nbsp;10%</li>
        <li> Досрочное погашение кредита:
          <ul>
            <li> Полное досрочное погашение кредита осуществляется без штрафных санкций.</li>
            <li> Частичное погашение кредита не&nbsp;менее&nbsp;20% от&nbsp;размера задолженности.</li>
          </ul>
        </li>
      </ul>
      <ul>
        <li> Страхование за&nbsp;счет средств Банка, на&nbsp;весь срок кредита.</li>
        <li> Требование к&nbsp;Заемщику:
          <ul>
            <li> Гражданство РК.</li>
            <li> Возраст Заемщика от&nbsp;21&nbsp;года до&nbsp;70&nbsp;лет.</li>
            <li> Постоянная регистрация места жительства в&nbsp;регионе, в&nbsp;котором клиент обращается за&nbsp;получением
              кредита.
            </li>
          </ul>
        </li>
      </ul>

      <div class="table-responsive">
        <table>
          <colgroup>
            <col>
          </colgroup>
          <tbody>
          <tr>
            <td colspan="7">Условия кредита</td>
          </tr>
          <tr>
            <td colspan="5">Процентная ставка ном./ГЭСВ</td>
            <td colspan="2">5,80%&nbsp;/ 21,4%</td>
          </tr>
          <tr>
            <td colspan="5">Первоначальный взнос</td>
            <td colspan="2">от&nbsp;10&nbsp;%</td>
          </tr>
          <tr>
            <td colspan="5">Сумма займа</td>
            <td colspan="2">от&nbsp;450&nbsp;000 до&nbsp;10&nbsp;000&nbsp;000</td>
          </tr>
          <tr>
            <td colspan="5">Срок кредитования</td>
            <td colspan="2">от&nbsp;12&nbsp;мес до&nbsp;84&nbsp;мес (* в&nbsp;зависимости от&nbsp;марки авто)</td>
          </tr>
          <tr>
            <td colspan="5">Комиссия за&nbsp;регистрацию</td>
            <td colspan="2">43&nbsp;000</td>
          </tr>
          <tr>
            <td>Стоимость автомобиля</td>
            <td colspan="6">3&nbsp;500&nbsp;000 тенге</td>
          </tr>
          <tr>
            <td>Первоначальный взнос</td>
            <td colspan="6">350 000(10%)</td>
          </tr>
          <tr>
            <td>Сумма займа</td>
            <td colspan="6">3&nbsp;288&nbsp;000</td>
          </tr>
          <tr>
            <td>Срок кредита</td>
            <td>12</td>
            <td>24</td>
            <td>36</td>
            <td>48</td>
            <td>60</td>
            <td>84</td>
          </tr>
          <tr>
            <td>Ежемесячный платеж</td>
            <td>305&nbsp;930</td>
            <td>165&nbsp;965</td>
            <td>122&nbsp;050</td>
            <td>98&nbsp;740</td>
            <td>87&nbsp;107</td>
            <td>72&nbsp;838</td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>


  </div>
</div>
