
  <div class="wrapper">
    <div class="col-xs-4 image">
      <div class="row">
        <img #carImage src="{{_garageMemo.getCarImage(_car)}}" width="100%"/>
      </div>

    </div>
    <div class="col-xs-8">
      <ul class="list-group row">
        <li><h4>{{_car.manufacturer}} {{_car.model}} {{_car.year}}</h4></li>
        <li>Дата покупки: 20.12.2015</li>
        <li>Дата последнего ТО: 20.12.2016</li>
        <li>Дата следующего ТО: 20.04.2017</li>
        <li>Объем двигателя: 5л</li>
        <li class="footer">
            <label for="isInternalservice" class="pull-right">
            <input checked id="isInternalservice" type="checkbox">
            Обслуживается на Автосервисе
            </label>
            <a href="javascript:void(0)" class="btn btn-primary pull-right" (click)="select()">Сервисная книга</a>
            <a href="javascript:void(0)" class="btn btn-primary pull-right" (click)="addToMarket()">Добавить на рынок</a>
            <input class="input-capture" type="file" accept="image/*" id="capture" capture="camera" placeholder="make a photo" (change)="capturePhoto($event)">
            <label for="capture" class="btn btn-primary pull-right">Сделать снимок</label>
        </li>
      </ul>
    </div>
  </div>
