:host{
  display: block;
}
.car-item {
  border: 1px solid #ccc;
  margin-bottom: 15px;
  margin-left: -15px;
  padding: 10px;
}

h4 {
  border-bottom: 1px solid #ccc;
  padding: 0 0 10px 0;
  font-size: 18px;
  color: #df1f3d;
}
