<div class="modal-header">
  <button aria-label="Close" class="close" type="button" (click)="close()">
    <span aria-hidden="true">×</span>
  </button>
</div>
<div class="modal-body" style="text-align: center">
  Настрой сайт под свое авто
</div>
<div class="modal-footer">
  <button class="btn btn-primary pull-right" (click)="closeAndGoToRegistration()">Зарегистрироватся</button>
  <button class="btn btn-primary pull-right" style="margin-right: 20px" (click)="closeAndLogin()">Войти</button>
</div>
