:host {
  display: block;
}
.filter-btn {
  display: none;
}
@media (max-width: 767px) {
  .cars-filter {
    position: fixed;
    background: #fff;
    z-index: 20;
    overflow: hidden;
    top: 96px;
    left: -320px;
    width: 320px;

    transition: left 0.3s;
    &.active {
      left: 0;
      transition: left 0.3s;
      box-shadow: 0 0 10px #000;
      display: flex;
      flex-direction: column;
      height: 100%;
      height: 85%;
      padding-bottom: 15px;
      & > .list-group {
        overflow: auto;
      }
    }
  }
  .filter-btn {
    margin: 20px 0;
  }
}
