:host {
  display: block;
}
.cars-filter {
  position: fixed;
  background: #fff;
  z-index: 20;
  overflow: hidden;
  top: 96px;
  left: -320px;
  width: 320px;
  box-shadow: 0 0 10px #000;
  transition: left 0.3s;
  &.active{
    left: 0;
    transition: left 0.3s;
  }
}
