<div class="row top-bar">
  <div class="col-sm-4">
    <a  href="javascript:void(0)" (click)="swipe()" class="btn btn-primary filter-btn">Фильтр</a>
    <input class="form-control xs-hidden" type="text" placeholder="Введите название или марку автомобиля"
           (input)="onCarFilter($event)"/>
  </div>
</div>

<div class="row" id="car-list">
  <div class="col-md-3 cars-filter" [ngClass]="{'active': isFilterOpened }">
    <a  href="javascript:void(0)" (click)="swipe()" class="btn btn-primary filter-btn">Закрыть фильтр</a>
    <div class="list-group">
      <div class="list-group-item">
        <label class="control-label">Типы двигателей</label>
        <div *ngFor="let type of carEngineTypes;">
          <label for="{{type}}">
            <input class="checkbox" type="checkbox" id="{{type}}" name="engineType" value="{{type}}"
                   [(ngModel)]="_selectedEngineType[type]" (ngModelChange)="createCarForDisplay()">
            {{type}}
          </label>
        </div>
      </div>
      <div class="list-group-item">
        <label>Город</label>
        <div *ngFor="let city of cities;">
          <label for="{{city}}">
            <input class="checkbox" type="checkbox" id="{{city}}" name="engineType" value="{{city}}"
                   [(ngModel)]="_selectedCities[city]" (ngModelChange)="createCarForDisplay()">
            {{city}}
          </label>
        </div>
      </div>


      <div class="list-group-item">
        <label>Марка Авто
          <select id="auto-brand" class="form-control" [(ngModel)]="_searchCarBrand" (change)="onCarBrandChange()">
            <option value="">Выбирете марку автомобиля</option>
            <option *ngFor="let make of _carBrands" value="{{make}}">{{make}}</option>
          </select>
        </label>
        <label>Модель Авто
          <select id="auto-model" class="form-control" [(ngModel)]="_searchCarModel" (change)="createCarForDisplay()">
            <option value="">Выбирете модель автомобиля</option>
            <option *ngFor="let model of _carModels" value="{{model}}">{{model}}</option>
          </select>
        </label>
      </div>


      <div class="list-group-item">
        <label>Объем двигателя</label>
        <div>
          <label for="minEngCapa">Минимальный объем двигателя</label>
          <input id="minEngCapa" type="number" min="0.8" max="6.4" [(ngModel)]="_engineCapacityFrom" step="0.1" (ngModelChange)="createCarForDisplay()">
        </div>
        <div>
          <label for="maxEngCapa">Максимальный объем двигателя</label>
          <input id="maxEngCapa" type="number" min="0.8" max="6.4" [(ngModel)]="_engineCapacityTo" step="0.1" (ngModelChange)="createCarForDisplay()">
        </div>
      </div>
      <div class="list-group-item">
        <label>Тип коробки</label>
        <div *ngFor="let trans of transmissionTypes">
          <input class="checkbox" type="checkbox" id="{{trans}}" name="selectedTransmissionType" value="{{trans}}"
                 [(ngModel)]="_selectedTransmissionTypes[trans]" (ngModelChange)="createCarForDisplay()">
          <label class="control-label" for="{{trans}}">{{trans}}</label>
        </div>
      </div>
    </div>


    <div class="divider"></div>
    <a class="btn btn-primary w-100" href="javascript:void(0)" [routerLink]="['/shop/credit-calc']"
       [routerLinkActive]="['active']">
      <i class="fa fa-calculator" aria-hidden="true"></i>
      Кредитный калькулятор
    </a>
    <div class="divider xs-hidden"></div>
    <img src="assets/img/ads/1.jpg" alt="" width="100%" class="xs-hidden">
    <div class="divider xs-hidden"></div>
    <img src="assets/ads_black.jpg" alt="" width="100%" class="xs-hidden">
    <div class="divider xs-hidden"></div>
    <img src="assets/vestaxray.jpg" alt="" width="100%" class="xs-hidden">
  </div>
  <div class="col-sm-9">

    <div class="row" *ngIf="_carList.length > 0">

      <app-market-car [_car]="item"  class="col-xs-12" *ngFor="let item of _carsToDisplay"></app-market-car>

    </div>
    <div *ngIf="_carsToDisplay.length == 0">
      <p>Ни одна из машин не совпадает с выюраными критериями</p>
      <p>Пожалуйста измените критерии поиска</p>
    </div>

  </div>

</div>
