<div class="row top-bar">
  <div class="col-sm-2">

  </div>
  <div class="col-sm-10">
    <div class="sub-breadcrumbs">
      <h2>Газобаллонное оборудование</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-9 static-content">

    <p>Качественную и профессиональную установку  газобаллонного оборудования итальянской фирмы LOVATO предлагает компания «БИПЭК АВТО». Высококвалифицированные специалисты сервисных центров выполнят установку в соответствии с техническими характеристиками автомобиля, рекомендациями производителя, а также с предоставлением обязательной гарантии на произведенные работы и оборудование - 2 года или 30 000 км пробега (в зависимости от того, что наступит ранее с даты установки).</p>

    <p>Фирма LOVATO является мировым лидером в проектировании и реализации систем перевода с традиционного топлива на газ с 1958 года. Высокий уровень качества, совершенная интегрируемость внутри транспортного средства и технологическое содержание продукции и компонентов LOVATO позволили компании заключить многочисленные соглашения о партнерстве с ведущими автопроизводителями во всем мире. </p>

    <p>Газобаллонное оборудование LOVATO работает на сжиженном газе – LPG.</p>

    <p>Использование системы LPG на сегодняшний день является идеальной альтернативой для тех, кто хочет сэкономить и при этом ездить, не нанося вред окружающей среде. При сжигании LPG, не производится углеродистого остатка. Поэтому моторное масло в машинах с LPG остается еще прозрачным, с ненарушенными свойствами даже после многих тысяч километров, что позволяет уменьшить изнашивание механических частей двигателя. После установки газобаллонного оборудования автомобиль сохраняет возможность использовать двойное питание.</p>

    <p>Перевод с бензина на газ не требует конструктивных изменений двигателя. Оборудование LPG можно установить практически на любой автомобиль, но стоит учитывать технические особенности каждой модели. </p>

    <blockquote>Узнать, какое газобаллонного оборудования LOVATO наилучшим образом подойдет к Вашему автомобилю, Вы можете, обратившись в <a href="/contacts">филиал «БИПЭК АВТО»</a>. Специалисты сервисного центра проконсультируют по любым вопросам выбора, установки и дальнейшего обслуживания топливной системы.</blockquote>

    <h3>Описание системы LPG</h3>
    <img src="/assets/img/static/lovato/lpg.jpg" alt="Система LPG" class="img-responsive">
    <ol>
      <li><strong>Заправочное устройство:</strong> устройство, через которое заправляется баллон.</li>
      <li><strong>Пропановый баллон:</strong> предназначен для хранения газа.</li>
      <li><strong>Мультиклапан:</strong> служит для заправки топлива и предотвращает его обратный выход, включает в себя индикатор уровня и устройства безопасности.</li>
      <li><strong>Редуктор-испаритель:</strong> преобразует газ из жидкого состояния в газообразное, снижает давление.</li>
      <li><strong>Фильтр:</strong> очищает газ от примесей, измеряет температуру и давление газа, а также давление в коллекторе.</li>
      <li><strong>Инжекторная рейка:</strong> предназначена для впрыска газа в каждый цилиндр.</li>
      <li><strong>Переключатель видов топлива:</strong> позволяет переключаться с газа на бензин и обратно, показывает уровень газа в баллоне.</li>
      <li><strong>Газовый блок управления:</strong> получает сигналы от разных датчиков, определяет нужное количество газа для впрыска.</li>
    </ol>


    <h3>Преимущества</h3>
    <ul class="lovato">
      <li>
        <img src="/assets/img/static/lovato/1.jpg" alt="Снижение затрат на топливо" class="img-responsive">
        <p><strong>Снижение затрат на топливо.</strong> Газ стоит значительно дешевле бензина, поэтому затраты на установку газобаллонного оборудования достаточно быстро окупаются. По сравнению с бензином экономическое преимущество LPG составляет около 50%.</p>
      </li>
      <li>
        <img src="/assets/img/static/lovato/2.jpg" alt="Работа двух независимых систем" class="img-responsive">
        <p><strong>Работа двух независимых систем.</strong> Газовое оборудование никак не сказывается на работе бензинового. Обе системы существуют параллельно и могут быть взаимозаменяемы. Это очень удобно, так как водитель в любой момент может поменять тип используемого топлива, тем самым увеличив пробег автомобиля.</p>
      </li>
      <li>
        <img src="/assets/img/static/lovato/3.jpg" alt="Забота о двигателе" class="img-responsive">
        <p><strong>Забота о двигателе.</strong> Пропан – высококачественное автомобильное топливо с высоким октановым числом (100-105) и минимальным количеством вредных примесей. Использование газового топлива позволяет увеличить ресурс двигателя и всей топливной системы. Кроме того, двигатели с установкой газобаллонного оборудования работают тише и более плавно. </p>
      </li>
      <li>
        <img src="/assets/img/static/lovato/4.jpg" alt="Безопасность" class="img-responsive">
        <p><strong>Безопасность.</strong> Оборудование LOVATO отвечает всем европейским нормативам ECE ONU 67 10, которые гарантируют высокие стандарты безопасности на основе исключительно строгих международных спецификаций и тестов. Надежность системы обеспечивается различными устройствами безопасности.</p>
      </li>
      <li>
        <img src="/assets/img/static/lovato/5.jpg" alt="Экологичность" class="img-responsive">
        <p><strong>Экологичность.</strong> Благодаря использованию газового топлива существенно снижается уровень токсичности выхлопных газов. Автомобили с питанием на LPG уменьшают вредные выбросы СО2 более, чем на 30%.</p>
      </li>
    </ul>            <a class="gotop hidden-xs" href="#top" style="display: none;"></a>
  </div>

</div>
