.modal.add-to-garage{
  .modal-content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0px;
    outline: 0;
    width: 620px;
    left: 50%;
    transform: translate3d(-50%, 50%, 0);
    top: 50%;
  }

}
