.popup-wrapper
{
  position: fixed;
  bottom: 0;
  z-index: 6666;
  width: 100%;
}

.content
{
  padding: 4px;
  position: relative;
  max-width: 600px;
  width: 100%;
  border-radius: 2px;
  margin: 8px auto;
  background-color: #FFFFFF;
  border: 1px solid #df1f3d;
  -webkit-box-shadow: 11px 10px 46px -15px rgba(0,0,0,0.45);
  -moz-box-shadow: 11px 10px 46px -15px rgba(0,0,0,0.45);
  box-shadow: 11px 10px 46px -15px rgba(0,0,0,0.45);
}

div.image-holder
{
  border-right: 1px solid #f2f2f2;
  padding-right: 5px;
}

img.sender-image
{
  width: 100%;
}

span.sender-name
{
  display: block;
  width: 100%;
  text-align: center;
  font-size: 10px;
}

span.new-message
{
  font-weight: 600;
}

.animate-fadeInOut
{
  -webkit-animation: flickerAnimation 5s;
  -moz-animation: flickerAnimation 5s;
  -o-animation: flickerAnimation 5s;
  animation: flickerAnimation 5s;
}

@keyframes fadeInOut {
  0%   { opacity:0; }
  25%  { opacity:1; }
  75%  { opacity:1; }
  100% { opacity:0; }
}
@-o-keyframes fadeInOut{
  0%   { opacity:0; }
  25%  { opacity:1; }
  75%  { opacity:1; }
  100% { opacity:0; }
}
@-moz-keyframes fadeInOut{
  0%   { opacity:0; }
  25%  { opacity:1; }
  75%  { opacity:1; }
  100% { opacity:0; }
}
@-webkit-keyframes fadeInOut{
  0%   { opacity:0; }
  25%  { opacity:1; }
  75%  { opacity:1; }
  100% { opacity:0; }
}
